body{
  /*background-color: #9999FF;*/
  background-image:url('../img/israel_background.jpg');
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

.our-titles{
  text-align: right;
  font-family: 'Lato', sans-serif;
  color: black;
}

.welcome-links{
  padding-top: 40px;
  text-align: right;
}

ul {
  padding-top: 40px;
  list-style-type:none;
  text-align: right;
}

li a{
  color: black;
}

li{
  margin-bottom: 20px;
}

.transparent-light{
  background:rgba(255,255,255,0.6);
}

.transparent-dark{
  background:rgba(0,0,0,0.7);
  color: #fff;
}

.transparent-dark > h1, h2, h3, h4{
  color: #fff;
}

.sections{
  margin-top: 30em;
  margin-bottom: 60em;
  background-color: #e74c3c;
  color: #fff;
}

.sections h1{
  color: #fff;
}

.sections a{
  color: #fff;
}

.email{
  color: #1FFFFF;
}

/* panels*/

.offscreen{
  position: absolute;
  left: -999em;
  height: 0%;
  overflow: hidden;
}

